  <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
  <h1>Lucky Numbers!</h1>
  <br>
    <h3>Welcome to Lucky Jyotish Lottery Numbers!
  <br>
    Here are your numbers!!
    <br>
    {{ numbers }}
    </h3>
    <br>
   
    <img
      src="https://www.topchinatravel.com/pic/china-guide/chinese-and-western-culture/lucky-numbers-in-china-03.jpg" width="600">
    <br>
     

    brought to you by Jyotish
  <script src="script.js"></script>
    </center>
</body>

</html>